In [4]:
from langchain.llms import GooglePalm

api_key = "AIzaSyCsRzu-6AJW6zOg8jnSB61FNgxF_wbbrnI"
llm = GooglePalm(google_api_key=api_key)

In [5]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "password"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}", sample_rows_in_table_info=3)
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Levi	Blue	S	45	28
2	Levi	Black	L	37	35
3	Levi	White	XL	13	100
*/

In [7]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
db_chain.invoke("how many nike tshirts we have")

> Entering new SQLDatabaseChain chain...
how many nike tshirts we have
SQLQuery:SELECT count(*) FROM t_shirts WHERE brand = 'Nike'
SQLResult: [(13,)]
Answer:13
> Finished chain.

{'query': 'how many nike tshirts we have', 'result': '13'}

In [8]:
db_chain.invoke("how many nike extra small size white color tshirts are left ")

> Entering new SQLDatabaseChain chain...
how many nike extra small size white color tshirts are left
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(87,)]
Answer:87
> Finished chain.

{'query': 'how many nike extra small size white color tshirts are left ',
 'result': '87'}

In [9]:
db_chain.invoke("Which nike tshirts are left in the stock. Show me tshirt with the percentage comparing with the total stock")

> Entering new SQLDatabaseChain chain...
Which nike tshirts are left in the stock. Show me tshirt with the percentage comparing with the total stock
SQLQuery:SELECT t_shirts.t_shirt_id, t_shirts.brand, t_shirts.color, t_shirts.size, t_shirts.stock_quantity,
((t_shirts.stock_quantity / (SELECT SUM(stock_quantity) FROM t_shirts WHERE brand = 'Nike')) * 100) AS percentage_left
FROM t_shirts
WHERE brand = 'Nike'
ORDER BY percentage_left DESC
LIMIT 5
SQLResult: [(30, 'Nike', 'Red', 'XL', 89, Decimal('12.1751')), (29, 'Nike', 'White', 'XS', 87, Decimal('11.9015')), (70, 'Nike', 'Red', 'XS', 83, Decimal('11.3543')), (9, 'Nike', 'Red', 'S', 79, Decimal('10.8071')), (97, 'Nike', 'Black', 'XS', 78, Decimal('10.6703'))]
Answer:[('30', 'Nike', 'Red', 'XL', '89', Decimal('12.1751')), (29', 'Nike', 'White', 'XS', '87', Decimal('11.9015')), (70', 'Nike', 'Red', 'XS', '83', Decimal('11.3543')), (9', 'Nike', 'Red', 'S', '79', Decimal('10.8071')), (97', 'Nike', 'Black', 'XS', '78', Decimal('10.6703'))]
> Finished chain.

{'query': 'Which nike tshirts are left in the stock. Show me tshirt with the percentage comparing with the total stock',
 'result': "[('30', 'Nike', 'Red', 'XL', '89', Decimal('12.1751')), (29', 'Nike', 'White', 'XS', '87', Decimal('11.9015')), (70', 'Nike', 'Red', 'XS', '83', Decimal('11.3543')), (9', 'Nike', 'Red', 'S', '79', Decimal('10.8071')), (97', 'Nike', 'Black', 'XS', '78', Decimal('10.6703'))]"}

In [10]:
db_chain.invoke("How much is the price of all the Nike tshirts")

> Entering new SQLDatabaseChain chain...
How much is the price of all the Nike tshirts
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE brand = 'Nike'
SQLResult: [(Decimal('389'),)]
Answer:389
> Finished chain.

{'query': 'How much is the price of all the Nike tshirts', 'result': '389'}

In [27]:
db_chain.invoke("How much is the price of all the Nike tshirts")

> Entering new SQLDatabaseChain chain...
How much is the price of all the Nike tshirts
SQLQuery:SELECT sum(price) FROM t_shirts WHERE brand = 'Nike'
SQLResult: [(Decimal('389'),)]
Answer:389
> Finished chain.

{'query': 'How much is the price of all the Nike tshirts', 'result': '389'}

In [41]:
q1 = db_chain.invoke("SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike' and size='L' group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id")
q1['result']

> Entering new SQLDatabaseChain chain...
SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike' and size='L' group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike' and size='L' group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('4895.000000'),)]
Answer:4895.0
> Finished chain.

'4895.0'

In [44]:
few_shots = [
    {'Question': "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer': "87"},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': "17134"},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi' group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id """,
     'SQLResult': "Result of the SQL query",
     'Answer': "16968.55"},
     {'Question': "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer': "17616"},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer': "265"
     },
    {'Question': "how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?",
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike' and size='L' group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id """,
     'SQLResult': "Result of the SQL query",
     'Answer': "4895.0"
    }
]

In [45]:
few_shots

[{'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '87'},
 {'Question': 'How much is the total price of the inventory for all S-size t-shirts?',
  'SQLQuery': "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '17134'},
 {'Question': 'If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
  'SQLQuery': "SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi' group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id ",
  'SQLResult': 'Result of the SQL query',
  'Answer': '16968.55'},
 {'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?',
  'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '17616'},
 {'Question': "How many white color Levi's shirt I have?",
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
  'SQLResult': 'Result of the SQL query',
  'Answer': '265'},
 {'Question': 'how much sales amount will be generated if we sell all large size t shirts today in nike brand after discounts?',
  'SQLQuery': "SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike' and size='L' group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id ",
  'SQLResult': 'Result of the SQL query',
  'Answer': '4895.0'}]

In [20]:
from langchain.embeddings import HuggingFaceEmbeddings
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

In [49]:
to_vectorize = [" ".join(example.values()) for example in few_shots]

In [54]:
from langchain.vectorstores import Chroma

vectorstore = Chroma.from_texts(to_vectorize, embedding=embeddings, metadatas=few_shots)

In [58]:
from langchain.prompts import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector(
    vectorstore = vectorstore,
    k=2
)
example_selector.select_examples({"Question": "How many Reebok T shits do I have in my store?"})

[{'Answer': '17616',
  'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?',
  'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '87',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'}]

In [59]:
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

In [60]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [61]:
print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [62]:
from langchain.prompts.prompt import PromptTemplate

In [63]:
example_prompt = PromptTemplate(
        input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
        template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
    )

In [66]:
from langchain.prompts import FewShotPromptTemplate

In [74]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"],
)

In [71]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [81]:
new_chain("What is the price of all the Nike Tshirts?")

> Entering new SQLDatabaseChain chain...
What is the price of all the Nike Tshirts?
SQLQuery:SELECT sum(price*stock_quantity) from t_shirts where brand = 'Nike'
SQLResult: [(Decimal('22527'),)]
Answer:22527
> Finished chain.

{'query': 'What is the price of all the Nike Tshirts?', 'result': '22527'}